<h1>MOVIE SEARCH<h1>
   
<form action='/results' method = 'get'>
<input type='search' name='movie' placeholder='E.g. Fight club'>
<input type='submit' value='Search'>
</form>

<form action="/movies" method="post">
  Title:<input type="text" name="title"/>
  Year:<input type="text" name="year"/>
  <input type="submit"/>
</form>